.about {
  padding: 48px 64px;
  display: flex;

  &__img {
    position: relative;
    width: 240px;
    padding-bottom: 360px;
    margin-right: 60px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: calc(100% - 300px);

    h2 {
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 32px;
    }

    p {
      line-height: 160%;
      opacity: 0.8;
      margin-bottom: 32px;
    }
  }
}
