.slider {
  margin: 48px 0;

  &__title {
    padding: 32px 64px;
    display: flex;
    align-items: center;

    h2 {
      font-size: 32px;
    }

    a {
      margin-left: 24px;
      color: $blue;
      font-size: 14px;
      text-decoration:none;
    }
  }

  &__list {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-padding: 64px;
    scroll-snap-type: x mandatory;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    width: 240px;
    margin-right: 8px;
    display: inline-block;
    white-space: nowrap;
    scroll-snap-align: start;
    cursor: pointer;

    &:first-child {
      margin-left: 64px;
    }

    &:last-child {
      margin-right: 64px;
    }

    &:hover {
      img {
        transform: scale(1.025);
      }
    }

    img {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }

    &-title {
      padding: 8px 0;
      font-weight: 300;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
    }
  }
}
